
/*body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #024950;
    color: #afdde5;
}*/
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup container */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

/* Close button */
.close-popup {
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(#003135,#024950, #964734);;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #000000;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 36px;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #98c198;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px 0;
    background: #024950;
}

.post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #0fa4af;
    background: #fafafa;
}

.post h2 {
    color: #333;
}

.post img {
    max-width: 100%;
    height: auto;
}

.post .read-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #0779e4;
    color: #fff;
    text-decoration: none;
}

.post .read-more:hover {
    background: #005bb5;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: bottom;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*#003135 #024950 #964734 #0FA4AF #AFDDE5*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper
{
    width: 1020px;
    margin:0px auto;
}
.wrapper ul
{
  list-style:none;
  
}
.wrapper ul li{
    background-color:#262626;
    width:170px;
    border:1px solid #fff;
    height:50px;
    line-height:50px;
    text-align: center;
    float:left;
    color:#fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight:bold;
}
.wrapper ul li a:visited
{
    color:green;
}
.wrapper ul li:hover
{
    background: rgb(2,0,36);
    background: linear-gradient(11deg, rgba(2,0,36,1) 0%, rgba(9,49,121,1) 20%, rgba(0,212,255,1) 100%); ;
}

.wrapper ul li ul
{
    display:none;
}
.wrapper ul li:hover>ul
{
    display: block;
}
